{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archive</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ archive.id }}</td>
            </tr>
            <tr>
                <th>Anas</th>
                <td>{{ archive.anas }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archive_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
