{% extends 'base.html.twig' %}
{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.8.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active"> Users Interesser </a></li>

    </ul>
    <br>
    <hr class="margin-bottom-1x">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Email</th>

                <th>Action</th>


            </tr>
            </thead>
            <tbody>
            {% for usr in users %}
            <tbody id="myTable">
            <tr>

                <th scope="row">#</th>
                <td>{{ usr.username }}</td>
                <td>{{ usr.email }}</td>
                <td><a class="btn btn-outline-info"  href={{ path ('mail',{ email: usr.email , nom: usr.username , nomevent: even.titre , date :even.dateevent , id: even.id} ) }} >Envoyer Email</a>


                </td>
            </tr>

            </tbody>



            {% endfor %}
            </tbody>
        </table>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}